<p id="notice"><%= notice %></p>

<p>
  <b>Make:</b>
  <%= @car.make %>
</p>

<p>
  <b>Model:</b>
  <%= @car.model %>
</p>

<p>
  <b>Color:</b>
  <%= @car.color %>
</p>

<p>
  <b>Type:</b>
  <%= @car.type %>
</p>

<p>
  <b>Year:</b>
  <%= @car.year %>
</p>

<p>
  <b>Short desc:</b>
  <%= @car.short_desc %>
</p>

<p>
  <b>Long desc:</b>
  <%= @car.long_desc %>
</p>

<p>
  <b>Owner:</b>
  <%= @car.owner %>
</p>


<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
